
<select class='form-control' id='<%=id%>'>
<option value=''>
--- User ---
</option>
<%User.all.each do|u| %>
<option value='<%=u.id %>_<%=u.class.name %>'>
	<%=u.name %>
</option>
<%end %>
<option  value=''>
 --- Team --- 
</option>
<%Team.all.each do|u| %>
<option value='<%=u.id %>_<%=u.class.name %>'>
	<%=u.name %>
</option>
<%end %>
<option  value=''>
--- Stock --- 
</option>
<%Stock.all.each do|u| %>
<option value='<%=u.id %>_<%=u.class.name %>'>
	<%=u.name %>
</option>
<%end %>
</select>
