
<h3>Balance:
<%=@balance%>
</h3> 
<table class='table table-striped table-border'>
	<td>
<b>
	Type
</b>
	</td>
	<td>
	<b>
		Amount
	</b>
	</td>
	<td>
	Info
	</td>
</tr>


<%@trans.each do |tr|%>
<tr>
	<td>
	<span class='<%=get_trans_class tr.trans_type%>'>
<%=tr.trans_type%>
	</span>
		
	</td>
	<td>
	<span class='<%=get_in_out_class tr.in_or_out%>' >

	<%=tr.amount%>
	</span>
	</td>
	<td>

	<%=tr.extra_info%>
	</td>
</tr>
<%end%>

</table>
