

<div class='container'>
<div class='row'>
<div class='col-md-12' style=''>
	Total Debit:
	<%=@system_info[:total_debit]%>
	Total Credit:
	<%=@system_info[:total_credit]%>
</div>
 


<br />
<br />
<div class='col-md-6' style='background:#eee'>
<h2> Credit / Debit </h2>

<%=render :partial => 'entities', :locals => {:id => 'credit_debit_id'}%>
<br />
<div class="input-group mb-2">
	<input id='credit_ipt_id' type="text" class="form-control"  aria-label="" aria-describedby="button-addon2">
	<div class="input-group-append">
	<button onclick='credit()' class="btn btn-secondary" type="button" id="button-addon2"><%=Tran::CREDIT%></button>
	</div>
</div>
<div class="input-group mb-2">
	<input id='debit_ipt_id'  type="text" class="form-control" placeholder="" aria-label="" aria-describedby="button-addon2">
	<div class="input-group-append">
		<button onclick='debit()' class="btn btn-secondary" type="button" id="button-addon2"><%=Tran::DEBIT%></button>
	</div>
</div>
<div class='hide alert ' id='cd_msg'></div>

</div>
<div class='col-md-6' style='background:#ccc'>
<h2> Transfer </h2>

<div class='row'>
	<div class='col-md-2'>
		Source: 
	</div>
	<div class='col-md-10'>
		<%=render :partial => 'entities', :locals => {:id => 'transfer_source_id'}%>
	</div>
	<div class='col-md-2'>
	Target: 
	</div>
	<div class='col-md-10'>
		<%=render :partial => 'entities', :locals => {:id => 'transfer_target_id'}%>
	</div>
</div>
<br />
<div class="input-group mb-2">
	<input id='transfer_ipt_id'  
	type="text" class="form-control" placeholder="" aria-label="" aria-describedby="button-addon2">
	<div class="input-group-append">
		<button onclick='transfer()' class="btn btn-secondary" type="button" id="button-addon2"><%=Tran::TRANSFER%></button>
	</div>
</div>
<div class='hide alert ' id='transfer_msg'></div>

</div>

<div class='col-md-12' style='backgroundz:#ddd'>
<h2>
Transactions
</h2>
<%=render :partial => 'entities', :locals => {:id => 'transaction_id'}%>
	<div id='trans_list_id'>
	</div>
</div>



</div>
</div>
<script>
function transfer(){
	var source = get_user_id('transfer_source_id');
	if(!source){
		return;
	}
	var target = get_user_id('transfer_target_id');
	if(!target){
		return;
	}
	var amt = parseFloat($('#transfer_ipt_id').val());
	if(isNaN(amt)){
		alert('Please input valid number');
		return;
	}

	ajax_post('/transfer', {
			'source':source,
			'target':target,
			'amount':amt
			}, 'json', function(rs){
				if (rs['is_done']){
					show_msg('#transfer_msg', 'transfer success!', true);
				}else{
					show_msg('#transfer_msg', 'transfer faild!', false);
				}
	 });

}
function debit(){
	var entity_id = get_user_id('credit_debit_id');
	if(!entity_id){
		return;
	}
	var amt = parseFloat($('#debit_ipt_id').val());
	if(isNaN(amt)){
		alert('Please input valid number');
		return;
	}
	ajax_post('/debit', {
			'entity_id':entity_id,
			'amount':amt
			}, 'json', function(rs){
				if (rs['is_done']){
					show_msg('#cd_msg', 'Debit success!', true);
				}else{
					show_msg('#cd_msg', 'Debit faild!', false);
				}
	 });
}
function show_msg(msg_id, txt, success){
	if (success){
		$(msg_id).removeClass('hide alert-danger').addClass('alert-success').html(txt)
	}else{
		$(msg_id).removeClass('hide alert-success').addClass('alert-danger').html(txt)
	}

}
function credit(){
	var entity_id = get_user_id('credit_debit_id');
	if(!entity_id){
		return;
	}
	var amt = parseFloat($('#credit_ipt_id').val());
	if(isNaN(amt)){
		alert('Please input valid number');
		return;
	}
	ajax_post('/credit', {
			'entity_id':entity_id,
			'amount':amt
			}, 'json', function(rs){
				if (rs['is_done']){
					show_msg('#cd_msg', 'credit success!', true);
				}else{
					show_msg('#cd_msg', 'credit faild!', false);
				}
	 
	 });

}
function get_user_id(select_id){
	var rs = $('#'+select_id).val();
	if(rs == ''){
		alert('Please select entities from dropdown.')
		return false;
	}
	return (rs);
}

function ajax_post(url, data, dataType, callback){

    $.ajax({
        url:url,
        type: 'post',
        beforeSend:function(xhr){
        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        data: data,
        dataType: dataType,
        success: callback
    });
}
$(document).ready(function(){
	$('#transaction_id').change(function(){
		var entity_id = get_user_id('transaction_id');
		if(!entity_id){
			return;
		}
		ajax_post('/trans_list', {
				'entity_id':entity_id
				}, 'html', function(rs){
				$('#trans_list_id').html(rs);
		 
		 });
				
	})
		
		
})
</script>

<style>
.hide{

}
.trans_in{
color:#155724
}
.trans_out{
color:#721c24;
}
</style>
